* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*variales(colors)*/
:root{
    --lightOrange:#e67e22;
    --darkOrange:#bf6516;
}

html {
    background-color: #fff;
    color: rgb(27, 27, 27);
    font-family: 'Yeon Sung', cursive;
    /*font-family: 'Nerko One', cursive;*/
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-weight: 300;
}
/*row*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}
/*header*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.699)), url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    width: 1140;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    padding-top: 0;
    padding-bottom: 20px;
    color: white;
    font-size: 240%;
    margin: 0;
    word-spacing: 4px;
    text-transform: uppercase;
    font-weight: 5;
}
/*Logo*/
.logo{
    margin-top:15px;
    height: 100px;
    width:auto;
    float:left;
}
/*main navigation bar*/
.main-nav{
    float:right;
    list-style:none;
}

.main-nav li{
    
    display:inline-block;
    margin-left: 20px;
    margin-top:5%;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding:5px 0;
    color:white;
    text-transform: uppercase;
    text-decoration:none;
    border-bottom:white 2px solid transparent;
    
}
.main-nav li a:hover,
.main-nav li a:active{
    color:var(--lightOrange);
    border-bottom:2px var(--darkOrange) solid;
    transition:border-bottom 0.2s,color 0.25s;

}

/*Buttons*/
.btn:link, .btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    color: #fff;
}

.btn-full:link, .btn-full:visited {
    color: black;
    border: 1px solid #e67e22;
    background-color: #e67e22;
}

.btn-ghost:link, .btn:visited {
    border: 1px solid #e67e22;
}
.btn:hover,
.btn:active{
    background-color:#bf6516;
    border:1px solid #bf6516;
    transition: background-color 0.2s,border 0.2s;
}